/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

h1{
	text-align: center;
}

@media (max-width:540px) {
.tym{
	display:flex;
	flex-wrap:wrap;
    align-items: space-between;
	justify-content: center;
	
	
}
  

.osoba{
	display: flex;
	flex: 1 1 100%;
	margin-bottom: 3%;
    flex-direction: column;
	
         }
.popis{
	text-align: center;
}
.foto{
	text-align: center;
}

		 
}



@media  (min-width:540px) and (max-width:960px) {
	.tym{
		display:flex;
		flex-wrap:wrap;
		
		  }
	
	.osoba{
		display: flex;
		flex: 1 1 45%;
	    margin-bottom: 3%;
		margin-right: 3%;
			
	}
		
	}

@media (min-width: 960px) {

	.tym{
		display:flex;
		flex-wrap: nowrap;
		flex-direction: row;
				
		 }

	.osoba{
		display: flex;
		flex: 1 1 27%;
		flex-direction: column;
		margin-left: 3%;
 }

 .foto{
	text-align: center;
 }
 .popis{
	text-align: center;
 }
  
				
		}
   	  
.osoba{
	display: flex;
	border: 1px solid;
	border-radius: 3%;
	
		
}

img{
	border-radius: 50%;
	
}
.popis{
	display: flex;
	flex-direction: column;
	margin: 5%;
	width: auto;
}
.foto{
	margin: 5%;
}